@model PizzaBox.Client.Models.OrderViewModel;

<header>Create Your Order!!!!</header>

@using (Html.BeginForm("MakeNewPizza", "Customer", FormMethod.Post))
{
  @Html.AntiForgeryToken()
    <div>
        <div>
            @foreach (var item in Model.PizzaViewModel.DisplaySizes)
            {
              @Html.RadioButtonFor(m => m.PizzaViewModel.SizeName, item.name)
              @Html.LabelFor(m => m.PizzaViewModel.SizeName, item.name)
            }
        </div>
            @foreach (var item in Model.PizzaViewModel.DisplayCrusts)
            {
              @Html.RadioButtonFor(m => m.PizzaViewModel.CrustName, item.name)
              @Html.LabelFor(m => m.PizzaViewModel.CrustName, item.name)
            }
          <div>
            @for(int i =0;i<Model.PizzaViewModel.DisplayToppings.Count();i++)
            {
              <input type="checkbox" value="@Model.PizzaViewModel.DisplayToppings[i].name"
               name='ToppingsNames' id="@Model.PizzaViewModel.DisplayToppings[i].name"/> @Model.PizzaViewModel.DisplayToppings[i].name <br />
            }
        </div>
    </div>
    <input type="submit" value="Create Pizza" />

    @Html.Partial("MadePizza",Model)
}
