@model PizzaBox.Client.Models.PizzaViewModel;

<header>Create Your Order!!!!</header>

@Html.ValidationMessageFor(m => m.CrustName, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(m => m.SizeName, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(m => m.ToppingsNames, "", new { @class = "text-danger" })

<br>
@using (Html.BeginForm("MakeNewPizza", "Customer",new {id = ViewBag.Username,orderid = ViewBag.OrderId} ,FormMethod.Post))
{
  @Html.AntiForgeryToken()
    <table style="width:50%">
          <td>Sizes</td>
      @foreach (var item in Model.DisplaySizes)
      {
        <tr>
          <td>
            <input type="radio" asp-for="Size" name="SizeName" value="@item.name" />@item.name<br />
            <td>$@item.price.ToString()</td>
          </td>
        </tr>
      }
    </table>
    <br>
    <table style="width:50%">
      <tr>
          <td>Crusts</td>
      @foreach (var item in Model.DisplayCrusts)
      {
        <tr>
          <td>
            <input type="radio" asp-for="Crust" name ="CrustName" value="@item.name" />@item.name<br />
            <td> $@item.price.ToString()</td>
          </td>
          </tr>
      }
      </table>
      <br>
      <table style="width:50%">
        <td>Toppings</td>
        <td></td>
      @for(int i =0;i<Model.DisplayToppings.Count();i++)
      {
        <tr>
        <td>
        <input type="checkbox" value="@Model.DisplayToppings.ElementAt(i).name"
          name='ToppingsNames' id="@Model.DisplayToppings.ElementAt(i).name"/> @Model.DisplayToppings.ElementAt(i).name
          @* <td>  $@Model.DisplayToppings.ElementAt(i).price<br /></td> *@
        </td>
        </tr>
      }
      </table>
      <br>
    <input type="submit" value="Create Pizza" />

}
