@model PizzaBox.Client.Models.CustomerViewModel;

Hello @Model.User.Name

@Html.AntiForgeryToken()
@using (@Html.BeginForm("DisplayStores", "Customer",new {id = @Model.Username}, FormMethod.Get))
{
  <input type="submit" value="Create New Order"/>
}
<br>
<header>Order History</header>
@if(Model.OrderHistory.Count() == 0)
{
<br>
<p>You Have No Previous Orders</p>
}
else{
<table style="width:100%">
  <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Order Price</th>
    <th>Store</th>
  </tr>
  @foreach (var item in Model.OrderHistory)
  {
    <tr>
      <td>@Html.DisplayFor(m=>item.EntityId)</td>
      @* <td>@Html.DisplayFor(m=>item.OrderTime)</td> *@
      <td>@item.OrderTime.ToString("MM/dd/yyyy h:mm tt")</td>
      <td>$@Html.DisplayFor(m=>item.Price)</td>
      <td>@Html.DisplayFor(m=>item.Store.Name)</td>
    </tr>
}
</table>
}
