@model PizzaBox.Client.Models.CustomerViewModel;

Hello @Model.User.Name

@Html.AntiForgeryToken()
@* @Html.ActionLink("Create Order", "DisplayStores", "Customer",new {username = @Model.Username}) *@
@using (@Html.BeginForm("DisplayStores", "Customer", FormMethod.Get))
{
  <input type="submit" name = "username" class="btn btn-default" value="Create New Order"/>
}

<header>Order History</header>
<table style="width:100%">
  <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Order Price</th>
    <th>Store</th>
  </tr>
  @foreach (var item in Model.OrderHistory)
  {
    <tr>
      <td>@Html.DisplayFor(m=>item.EntityId)</td>
      <td>@Html.DisplayFor(m=>item.OrderTime)</td>
      <td>@Html.DisplayFor(m=>item.Price)</td>
      <td>@Html.DisplayFor(m=>item.Store.Name)</td>
    </tr>
}
</table>

