@model PizzaBox.Client.Models.OrderViewModel;
@Html.AntiForgeryToken()
<table>
  <tr>
    @if(Model.Pizzas.Count != 0)
    {
      @foreach (var item in Model.Pizzas)
      {
        <tr>
          <td>@Html.DisplayFor(m=>item.EntityId)</td>
          <td>@Html.DisplayFor(m=>item.Crust.name)</td>
          <td>@Html.DisplayFor(m=>item.Size.name)</td>
          <td>@Html.DisplayFor(m=>item.Toppings)</td>
        @using (@Html.BeginForm("Delete", "Customer",new{id = @ViewBag.Username,orderid = @ViewBag.OrderId, pizzaid = item.EntityId}, FormMethod.Post))
        {
          <input type="submit" name = "Delete" class="btn btn-default" value="Delete"/>
        }
        </tr>
      }
    }
else
{
  <p>No Pizzas in your cart</p>
}
  </tr>
</table>

<p>Total Price : $ @ViewBag.OrderPrice</p>

@using (@Html.BeginForm("MakeAnother", "Customer",new{id = @ViewBag.Username,orderid = ViewBag.OrderId}, FormMethod.Post))
{
  <input type="submit" name = "back" class="btn btn-default" value="Add Another"/>
}

@using (@Html.BeginForm("ExistingUser", "Customer",new{username = @ViewBag.Username}, FormMethod.Post))
{
  <input type="submit" name = "Done" class="btn btn-default" value="All Done!"/>
}
