@model PizzaBox.Client.Models.StoreViewModel;
Welcome @Model.StoreName
  @foreach (var item in Model.OrderHistory)
  {

  }
<header>Order History</header>
<table style="width:100%">
  <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Order Price</th>
    <th>User</th>
  </tr>
  @foreach (var item in Model.OrderHistory)
  {
    <tr>
      <td>@Html.DisplayFor(m=>item.EntityId)</td>
      <td>@Html.DisplayFor(m=>item.OrderTime)</td>
      <td>@Html.DisplayFor(m=>item.Price)</td>
      <td>@Html.DisplayFor(m=>item.User.Name)</td>
    </tr>
}
</table>
